@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    margin: 0;
}
h2{
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  color:black;
  padding: 15px;
}
.CC{
  text-align: right;
  font-size: large;
}
.avatar{
   /* padding: 30px; */
   width: 130px;
  height: 300px;
  margin-left: 130px;

  }
.error{
  color: red;
}
.register1{
    /* margin: 50px; */
  max-width: 978px;
  width: 100vw;
  display:flex;
  /* border: 1px solid #e9ecef;  */
  /* border-radius: 5px;   */
   background-color: white; 
   position: fixed;
}

.register1 span{
  color: #adb5bd;
} 

 #form{
  max-width: 320px;
  width: 100vw; 
  margin: 0em auto;
  height: 40px;
 }

/* #form >  input, .btn{ 
  border: 1px solid #e9ecef; 
  padding: .9em 1em;
} */

#form > input:focus{
  outline: none;
}   

#form > .btn{
  background-color:rgb(51, 109, 210);
  color: #e9ecef; 
  font-size: 1em;
  cursor: pointer;
}


.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}  

.register1 .col-2{
  margin: 150px;
  padding: 3em 0;
  
} 

.register1 .col-1 img{
  width: 700px;
  margin: 0px;
  height: 620px;
}

@media screen and (min-width: 800px)  {
  .register1 .col-1 img{
    display: initial;
  }
}
 
